# Tutorial 3 - Pandas - Answers

In this tutorial you will learn the basics about using Pandas in Python.
Pandas is a library in Python, which can be used to manipulate and analyse data easier. You can read more about pandas on their [website](https://pandas.pydata.org/).

For additional content, you can visit the following sites:

- [Python: Pandas Tutorial | Intro to DataFrames - YouTube](https://www.youtube.com/watch?v=e60ItwlZTKM). 
- [Datacamp - Pandas Tutorial](https://www.datacamp.com/community/tutorials/pandas-tutorial-dataframe-python).
- [Learn Python - Pandas Basics](https://www.learnpython.org/en/Pandas_Basics).

## Contents

1. Import library
2. DataFrame
3. Series
4. Import datafile
    * CSV
    * Matlab
5. Statistics
6. Sorting and grouping a Dataframe
7. Adding a column by calculation
8. Delete data for optimisation
9. Working with missing values

______________________

<div class="alert alert-info" role="alert" style="height:10px;padding:0px;margin-bottom:-20px"></div>

## 1. Import library

<div class="alert alert-info" role="alert" style="height:10px;padding:0px;margin-top:5px;"></div>

No exercises in this section.

In [1]:
import pandas as pd

____________________

<div class="alert alert-info" role="alert" style="height:10px;padding:0px;margin-bottom:-20px"></div>

## 2. DataFrame

<div class="alert alert-info" role="alert" style="height:10px;padding:0px;margin-top:5px;"></div>

No exercises in this section.

_______________________

<div class="alert alert-info" role="alert" style="height:10px;padding:0px;margin-bottom:-20px"></div>

## 3. Series

<div class="alert alert-info" role="alert" style="height:10px;padding:0px;margin-top:5px;"></div>

No exercises in this section.

___________________

<div class="alert alert-info" role="alert" style="height:10px;padding:0px;margin-bottom:-20px"></div>

## 4. Import data files

<div class="alert alert-info" role="alert" style="height:10px;padding:0px;margin-top:5px;"></div>

In [2]:
movies = pd.read_csv("Movies.csv")
movies

,title,year,lifetime_gross,ratingInteger,ratingCount,duration,nrOfWins,nrOfNominations,nrOfPhotos,nrOfNewsArticles,...,RealityTV,Romance,SciFi,Short,Sport,TalkShow,Thriller,War,Western,Unnamed: 37
0,METROPOLIS,1928,1236166,8,81007,9180,3,4,67,428,...,0,0,1,0,0,0,0,0,0,NaN
1,CITY LIGHTS,1931,19181,9,70057,5220,2,0,38,187,...,0,1,0,0,0,0,0,0,0,NaN
2,MODERN TIMES,1936,163577,9,90847,5220,3,1,44,27,...,0,0,0,0,0,0,0,0,0,NaN
3,GONE WITH THE WIND,1939,198676459,8,160414,14280,10,6,143,1263,...,0,1,0,0,0,0,0,1,0,NaN
4,THE WIZARD OF OZ,1939,22342633,8,209506,6120,6,12,126,2363,...,0,0,0,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3745,AN INCONVENIENT TRUTH,2006,24146161,8,56014,6000,27,6,62,756,...,0,0,0,0,0,0,0,0,0,NaN
3746,ADRIFT IN MANHATTAN,2007,2099,5,1328,5460,3,1,7,7,...,0,0,0,0,0,0,0,0,0,NaN
3747,HOSTEL: PART II,2007,17609452,5,57934,5640,0,0,46,232,...,0,0,0,0,0,0,0,0,0,NaN
3748,KALYUG,2005,1435,7,1250,7560,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
3749,SLIPSTREAM,2007,8965,5,3913,5760,1,3,41,13,...,0,0,0,0,0,0,0,0,0,NaN


### 4.1 Exercise

In [3]:
# Exercise 4.1: Find out more about the DataFrame.
shape = movies.shape
index = movies.index
columns = movies.columns
types = movies.dtypes
size = movies.size

shape, index, columns, types, size

((3750, 38),
 RangeIndex(start=0, stop=3750, step=1),
 Index(['title', 'year', 'lifetime_gross', 'ratingInteger', 'ratingCount',
        'duration', 'nrOfWins', 'nrOfNominations', 'nrOfPhotos',
        'nrOfNewsArticles', 'nrOfUserReviews', 'nrOfGenre', 'Action', 'Adult',
        'Adventure', 'Animation', 'Biography', 'Comedy', 'Crime', 'Documentary',
        'Drama', 'Family', 'Fantasy', 'Horror', 'Music', 'Musical', 'Mystery',
        'News', 'RealityTV', 'Romance', 'SciFi', 'Short', 'Sport', 'TalkShow',
        'Thriller', 'War', 'Western', 'Unnamed: 37'],
       dtype='object'),
 title                object
 year                 object
 lifetime_gross        int64
 ratingInteger         int64
 ratingCount           int64
 duration              int64
 nrOfWins              int64
 nrOfNominations       int64
 nrOfPhotos            int64
 nrOfNewsArticles      int64
 nrOfUserReviews       int64
 nrOfGenre             int64
 Action                int64
 Adult                 int64
 Adventure             int64
 Animation             int64
 Biography             int64
 Comedy                int64
 Crime                 int64
 Documentary           int64
 Drama                 int64
 Family                int64
 Fantasy               int64
 Horror                int64
 Music                 int64
 Musical               int64
 Mystery               int64
 News                  int64
 RealityTV             int64
 Romance               int64
 SciFi                 int64
 Short                 int64
 Sport                 int64
 TalkShow              int64
 Thriller              int64
 War                   int64
 Western               int64
 Unnamed: 37         float64
 dtype: object,
 142500)

_________________________

<div class="alert alert-info" role="alert" style="height:10px;padding:0px;margin-bottom:-20px"></div>

## 5. Statistics

<div class="alert alert-info" role="alert" style="height:10px;padding:0px;margin-top:5px;"></div>

### 5.1 Exercise

In [4]:
# Exercise 5.1: Count the total number of nominations.
movies['nrOfNominations'].count()

3750


### 5.2 Exercise

In [5]:
# Exercise 5.2: Get the summary statistics of all of the data.
movies.describe(include='all')

,title,year,lifetime_gross,ratingInteger,ratingCount,duration,nrOfWins,nrOfNominations,nrOfPhotos,nrOfNewsArticles,...,RealityTV,Romance,SciFi,Short,Sport,TalkShow,Thriller,War,Western,Unnamed: 37
count,3750,3750,3.750000e+03,3.750000e+03,3.750000e+03,3750.000000,3750.000000,3750.000000,3750.000000,3750.000000,...,3750.0,3750.000000,3750.000000,3750.000000,3750.000000,3750.0,3750.000000,3750.000000,3750.000000,2.0
unique,3713,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,THE KARATE KID,2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,4,161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,4.843950e+07,4.108937e+04,7.090083e+04,6637.528533,9.002933,7.546400,45.349600,595.921600,...,0.0,0.174933,0.085333,0.000267,0.033867,0.0,0.162933,0.022133,0.009333,0.0
std,NaN,NaN,6.395942e+07,1.984213e+06,1.016313e+05,1425.411253,156.172762,13.171129,39.408587,1436.690163,...,0.0,0.379961,0.279414,0.016330,0.180910,0.0,0.369354,0.147137,0.096170,0.0
min,NaN,NaN,4.230000e+02,2.000000e+00,5.000000e+00,2760.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0
25%,NaN,NaN,8.400621e+06,6.000000e+00,1.307225e+04,5760.000000,0.000000,0.000000,19.000000,42.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0
50%,NaN,NaN,2.780892e+07,7.000000e+00,3.583150e+04,6360.000000,1.000000,3.000000,35.000000,154.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0
75%,NaN,NaN,6.138347e+07,7.000000e+00,8.568975e+04,7200.000000,5.000000,9.000000,59.000000,547.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0
max,NaN,NaN,7.605076e+08,1.151040e+08,1.183395e+06,38274.000000,6780.000000,137.000000,394.000000,23660.000000,...,0.0,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,0.0

____________________________

<div class="alert alert-info" role="alert" style="height:10px;padding:0px;margin-bottom:-20px"></div>

## 6. Sorting and grouping a DataFrame

<div class="alert alert-info" role="alert" style="height:10px;padding:0px;margin-top:5px;"></div>

### 6.1 Exercise

In [6]:
# Exercise 6.1: Sort the data on number of news articles.
movies.sort_values(by = 'nrOfNewsArticles')

,title,year,lifetime_gross,ratingInteger,ratingCount,duration,nrOfWins,nrOfNominations,nrOfPhotos,nrOfNewsArticles,...,RealityTV,Romance,SciFi,Short,Sport,TalkShow,Thriller,War,Western,Unnamed: 37
3328,WHIPPED,2000,4159986,4,3552,4920,0,0,24,0,...,0,1,0,0,0,0,0,0,0,NaN
2343,BEARCITY,2010,5980,6,869,6240,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
1349,54,1998,16757163,6,24736,5580,0,0,71,0,...,0,0,0,0,0,0,0,0,0,NaN
2690,FIREWALKER,1986,11949484,5,3390,6240,0,0,5,0,...,0,0,0,0,0,0,0,0,0,NaN
631,LAKSHYA,2004,753600,8,7075,11160,3,10,0,0,...,0,1,0,0,0,0,0,1,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,THE DARK KNIGHT,2008,534858444,9,1148515,9120,94,69,107,17229,...,0,0,0,0,0,0,0,0,0,NaN
1863,THOR,2011,181030624,7,346716,6900,5,15,134,17429,...,0,0,0,0,0,0,0,0,0,NaN
133,THE DARK KNIGHT RISES,2012,448139099,9,758626,9900,28,64,131,22240,...,0,0,0,0,0,0,1,0,0,NaN
1657,IRON MAN,2008,318412101,8,476288,7560,15,43,155,22252,...,0,0,1,0,0,0,0,0,0,NaN
35,STAR WARS,1977,460998007,9,631839,7260,35,26,190,23660,...,0,0,0,0,0,0,0,0,0,NaN

### 6.2 Exercise

In [7]:
# Exercise 6.2: Group the data by year.
movies.groupby('year')
movies

,title,year,lifetime_gross,ratingInteger,ratingCount,duration,nrOfWins,nrOfNominations,nrOfPhotos,nrOfNewsArticles,...,RealityTV,Romance,SciFi,Short,Sport,TalkShow,Thriller,War,Western,Unnamed: 37
0,METROPOLIS,1928,1236166,8,81007,9180,3,4,67,428,...,0,0,1,0,0,0,0,0,0,NaN
1,CITY LIGHTS,1931,19181,9,70057,5220,2,0,38,187,...,0,1,0,0,0,0,0,0,0,NaN
2,MODERN TIMES,1936,163577,9,90847,5220,3,1,44,27,...,0,0,0,0,0,0,0,0,0,NaN
3,GONE WITH THE WIND,1939,198676459,8,160414,14280,10,6,143,1263,...,0,1,0,0,0,0,0,1,0,NaN
4,THE WIZARD OF OZ,1939,22342633,8,209506,6120,6,12,126,2363,...,0,0,0,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3745,AN INCONVENIENT TRUTH,2006,24146161,8,56014,6000,27,6,62,756,...,0,0,0,0,0,0,0,0,0,NaN
3746,ADRIFT IN MANHATTAN,2007,2099,5,1328,5460,3,1,7,7,...,0,0,0,0,0,0,0,0,0,NaN
3747,HOSTEL: PART II,2007,17609452,5,57934,5640,0,0,46,232,...,0,0,0,0,0,0,0,0,0,NaN
3748,KALYUG,2005,1435,7,1250,7560,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
3749,SLIPSTREAM,2007,8965,5,3913,5760,1,3,41,13,...,0,0,0,0,0,0,0,0,0,NaN

___________________________

<div class="alert alert-info" role="alert" style="height:10px;padding:0px;margin-bottom:-20px"></div>

## 7. Adding a column by calculation

<div class="alert alert-info" role="alert" style="height:10px;padding:0px;margin-top:5px;"></div>

No exercises in this section.

________________

<div class="alert alert-info" role="alert" style="height:10px;padding:0px;margin-bottom:-20px"></div>

## 8. Delete data for optimization 

<div class="alert alert-info" role="alert" style="height:10px;padding:0px;margin-top:5px;"></div>

### 8.1 Exercise

In [8]:
#Exercise 8.1: Drop the column of number of photos by creating a new DataFrame.
movies2 = movies.drop(['nrOfPhotos'], axis=1)
movies2

,title,year,lifetime_gross,ratingInteger,ratingCount,duration,nrOfWins,nrOfNominations,nrOfNewsArticles,nrOfUserReviews,...,RealityTV,Romance,SciFi,Short,Sport,TalkShow,Thriller,War,Western,Unnamed: 37
0,METROPOLIS,1928,1236166,8,81007,9180,3,4,428,376,...,0,0,1,0,0,0,0,0,0,NaN
1,CITY LIGHTS,1931,19181,9,70057,5220,2,0,187,186,...,0,1,0,0,0,0,0,0,0,NaN
2,MODERN TIMES,1936,163577,9,90847,5220,3,1,27,180,...,0,0,0,0,0,0,0,0,0,NaN
3,GONE WITH THE WIND,1939,198676459,8,160414,14280,10,6,1263,653,...,0,1,0,0,0,0,0,1,0,NaN
4,THE WIZARD OF OZ,1939,22342633,8,209506,6120,6,12,2363,477,...,0,0,0,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3745,AN INCONVENIENT TRUTH,2006,24146161,8,56014,6000,27,6,756,499,...,0,0,0,0,0,0,0,0,0,NaN
3746,ADRIFT IN MANHATTAN,2007,2099,5,1328,5460,3,1,7,20,...,0,0,0,0,0,0,0,0,0,NaN
3747,HOSTEL: PART II,2007,17609452,5,57934,5640,0,0,232,371,...,0,0,0,0,0,0,0,0,0,NaN
3748,KALYUG,2005,1435,7,1250,7560,0,0,0,13,...,0,0,0,0,0,0,0,0,0,NaN
3749,SLIPSTREAM,2007,8965,5,3913,5760,1,3,13,50,...,0,0,0,0,0,0,0,0,0,NaN

_________________

<div class="alert alert-info" role="alert" style="height:10px;padding:0px;margin-bottom:-20px"></div>

## 9. Working with missing values

<div class="alert alert-info" role="alert" style="height:10px;padding:0px;margin-top:5px;"></div>

### 9.1 Exercise

In [9]:
# Exercise 9.1: Find out how many missing values there are, if there are any.
movies.isnull().any()
movies.isnull().sum()

title                  0
year                   0
lifetime_gross         0
ratingInteger          0
ratingCount            0
duration               0
nrOfWins               0
nrOfNominations        0
nrOfPhotos             0
nrOfNewsArticles       0
nrOfUserReviews        0
nrOfGenre              0
Action                 0
Adult                  0
Adventure              0
Animation              0
Biography              0
Comedy                 0
Crime                  0
Documentary            0
Drama                  0
Family                 0
Fantasy                0
Horror                 0
Music                  0
Musical                0
Mystery                0
News                   0
RealityTV              0
Romance                0
SciFi                  0
Short                  0
Sport                  0
TalkShow               0
Thriller               0
War                    0
Western                0
Unnamed: 37         3748
dtype: int64

### 9.2 Exercise

In [10]:
# Exercise 9.2: Make a new DataFrame where there are no NaN values.
movies3 = movies.dropna(how='any')
movies3.isnull().any()

title               False
year                False
lifetime_gross      False
ratingInteger       False
ratingCount         False
duration            False
nrOfWins            False
nrOfNominations     False
nrOfPhotos          False
nrOfNewsArticles    False
nrOfUserReviews     False
nrOfGenre           False
Action              False
Adult               False
Adventure           False
Animation           False
Biography           False
Comedy              False
Crime               False
Documentary         False
Drama               False
Family              False
Fantasy             False
Horror              False
Music               False
Musical             False
Mystery             False
News                False
RealityTV           False
Romance             False
SciFi               False
Short               False
Sport               False
TalkShow            False
Thriller            False
War                 False
Western             False
Unnamed: 37         False
dtype: bool

### 9.3 Exercise

In [11]:
# Exercise 9.3: Make a new DataFrame with NaN values changed for title.
movies4 = movies.fillna('Unknown')
movies4

,title,year,lifetime_gross,ratingInteger,ratingCount,duration,nrOfWins,nrOfNominations,nrOfPhotos,nrOfNewsArticles,...,RealityTV,Romance,SciFi,Short,Sport,TalkShow,Thriller,War,Western,Unnamed: 37
0,METROPOLIS,1928,1236166,8,81007,9180,3,4,67,428,...,0,0,1,0,0,0,0,0,0,Unknown
1,CITY LIGHTS,1931,19181,9,70057,5220,2,0,38,187,...,0,1,0,0,0,0,0,0,0,Unknown
2,MODERN TIMES,1936,163577,9,90847,5220,3,1,44,27,...,0,0,0,0,0,0,0,0,0,Unknown
3,GONE WITH THE WIND,1939,198676459,8,160414,14280,10,6,143,1263,...,0,1,0,0,0,0,0,1,0,Unknown
4,THE WIZARD OF OZ,1939,22342633,8,209506,6120,6,12,126,2363,...,0,0,0,0,0,0,0,0,0,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3745,AN INCONVENIENT TRUTH,2006,24146161,8,56014,6000,27,6,62,756,...,0,0,0,0,0,0,0,0,0,Unknown
3746,ADRIFT IN MANHATTAN,2007,2099,5,1328,5460,3,1,7,7,...,0,0,0,0,0,0,0,0,0,Unknown
3747,HOSTEL: PART II,2007,17609452,5,57934,5640,0,0,46,232,...,0,0,0,0,0,0,0,0,0,Unknown
3748,KALYUG,2005,1435,7,1250,7560,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Unknown
3749,SLIPSTREAM,2007,8965,5,3913,5760,1,3,41,13,...,0,0,0,0,0,0,0,0,0,Unknown

________________________