# Pandas tutorial

## The basics

In this tutorial you will learn the basics about using Pandas in Python.
Pandas is a library in Python, which can be used to manipulate and analyse data easier. You can read more about pandas on their [website](https://pandas.pydata.org/).

## Contents of the tutorial

1. Import libraries
    * math, pandas, matplotlib & seaborn, sklearn, sqlite2, numpy, statmodels
2. DataFrames
    * Concept
    * Commands
    * See the data
3. Series
    * Concept
    * Commands
    * See the data
4. Import datafile
    * CSV
    * Matlab
5. Statistics
6. Sorting and grouping a Dataframe
7. Adding a column by calculation
8. Delete data for optimization
9. Working with NaN values
10. Plotting a DataFrame

______________________

<div class="alert alert-info" role="alert" style="height:10px;padding:0px;margin-bottom:-20px"></div>

## 1. Import libraries

<div class="alert alert-info" role="alert" style="height:10px;padding:0px;margin-top:5px;"></div>

Libraries need to be imported so that you can work with them. There are several useful libraries:

- pandas: for using pandas. 
- math: can handle mathematical functions easily. 
- matplotlib: for producing quality 2D graphics.
- seaborn: for statistical graphics, on top of matplotlib.
- numpy: for linear algebra, lagre arrays etc..
- SciPy: for mathematics, science and engrineering, on top of Numpy.
- sklearn: for machine learning, on top of SciPy.
- sqlite3: can handle databases with SQL query language.
- statmodels: for statistical computations. 

Importing such libraries can be done by running the following line of code:

In [3]:
import pandas as pd

Next, import the other libraries.

In [2]:
## TRY OUT: import the other libraries here

____________________

<div class="alert alert-info" role="alert" style="height:10px;padding:0px;margin-bottom:-20px"></div>

## 2. DataFrame

<div class="alert alert-info" role="alert" style="height:10px;padding:0px;margin-top:5px;"></div>

A DataFrame is a table just like the one you probably know from excel. It contains rows and columns for example this is a small DataFrame:

In [3]:
pd.DataFrame({'Yes':[50,21], 'No':[131,20]})

   Yes   No
0   50  131
1   21   20

You can see that the rows have the values 0 and 1 these indexes can be changed if you prefer it to other numbers or even to strings. 
The code you need for this is located in the cell below test it and see what happens.

In [4]:
pd.DataFrame({'Yes':[50,21], 'No':[131,20]},index = ['Product A','Product B'])

           Yes   No
Product A   50  131
Product B   21   20

_______________________

<div class="alert alert-info" role="alert" style="height:10px;padding:0px;margin-bottom:-20px"></div>

## 3. Series

<div class="alert alert-info" role="alert" style="height:10px;padding:0px;margin-top:5px;"></div>

Pandas also has something that is called series. A Series is a sequence of data values. A Series is like a list if a DataFrame is a table. To create one you just need some data values;

In [5]:
pd.Series([5,6,7,8])

0    5
1    6
2    7
3    8
dtype: int64

___________________

<div class="alert alert-info" role="alert" style="height:10px;padding:0px;margin-bottom:-20px"></div>

## 4. Import data files

<div class="alert alert-info" role="alert" style="height:10px;padding:0px;margin-top:5px;"></div>

Creating a DataFrame or Series is nice to do but the power of Pandas comes from the reading data that is already available for a csv file this can simply be done by using the `read_csv()` function from Pandas. 

In biomedical engineering sometimes the dataset we want to read is stored in a matlab file with the .mat extention

In [4]:
movies=pd.read_csv("Movies.csv")
movies#.head() # this shows the first 5 rows of the DataFrame

,title,year,lifetime_gross,ratingInteger,ratingCount,duration,nrOfWins,nrOfNominations,nrOfPhotos,nrOfNewsArticles,...,RealityTV,Romance,SciFi,Short,Sport,TalkShow,Thriller,War,Western,Unnamed: 37
0,METROPOLIS,1928,1236166,8,81007,9180,3,4,67,428,...,0,0,1,0,0,0,0,0,0,NaN
1,CITY LIGHTS,1931,19181,9,70057,5220,2,0,38,187,...,0,1,0,0,0,0,0,0,0,NaN
2,MODERN TIMES,1936,163577,9,90847,5220,3,1,44,27,...,0,0,0,0,0,0,0,0,0,NaN
3,GONE WITH THE WIND,1939,198676459,8,160414,14280,10,6,143,1263,...,0,1,0,0,0,0,0,1,0,NaN
4,THE WIZARD OF OZ,1939,22342633,8,209506,6120,6,12,126,2363,...,0,0,0,0,0,0,0,0,0,NaN
5,CITIZEN KANE,1941,1585634,9,228617,7140,7,10,103,1439,...,0,0,0,0,0,0,0,0,0,NaN
6,CASABLANCA,1942,4108411,9,296802,6120,5,6,153,382,...,0,1,0,0,0,0,0,1,0,NaN
7,THE BEST YEARS OF OUR LIVES,1946,23650000,8,30002,10320,13,1,15,129,...,0,1,0,0,0,0,0,1,0,NaN
8,THE THIRD MAN,1949,618173,8,85964,6240,3,4,62,338,...,0,0,0,0,0,0,1,0,0,NaN
9,ALL ABOUT EVE,1950,63463,8,61738,8280,15,15,42,253,...,0,0,0,0,0,0,0,0,0,NaN
10,SINGIN' IN THE RAIN,1952,1826108,8,108115,6180,4,7,61,333,...,0,1,0,0,0,0,0,0,0,NaN
11,DIAL M FOR MURDER,1954,12562,8,72579,6300,3,2,51,232,...,0,0,0,0,0,0,1,0,0,NaN
12,REAR WINDOW,1954,36764313,9,229323,6720,6,6,98,711,...,0,0,0,0,0,0,1,0,0,NaN
13,THE BRIDGE ON THE RIVER KWAI,1957,27200000,8,109972,9660,24,5,59,160,...,0,0,0,0,0,0,0,1,0,NaN
14,TOUCH OF EVIL,1958,2247465,8,55474,5700,3,1,28,211,...,0,0,0,0,0,0,1,0,0,NaN
15,VERTIGO,1958,7311013,9,176267,7680,6,3,106,671,...,0,1,0,0,0,0,1,0,0,NaN
16,BEN-HUR,1959,74000000,8,115402,12720,20,5,79,193,...,0,0,0,0,0,0,0,0,0,NaN
17,PSYCHO,1960,32000000,9,296676,6540,6,5,156,2059,...,0,0,0,0,0,0,1,0,0,NaN
18,LAWRENCE OF ARABIA,1962,44824144,8,140727,12960,20,13,91,929,...,0,0,0,0,0,0,0,0,0,NaN
19,DR. STRANGELOVE OR: HOW I LEARNED TO STOP WORR...,1964,9440272,9,263157,5700,13,4,56,432,...,0,0,0,0,0,0,0,1,0,NaN
20,WHO'S AFRAID OF VIRGINIA WOOLF?,1966,28000000,8,41330,7860,20,18,72,10,...,0,0,0,0,0,0,0,0,0,NaN
21,THE GRADUATE,1967,104945305,8,161502,6360,20,13,94,329,...,0,1,0,0,0,0,0,0,0,NaN
22,2001: A SPACE ODYSSEY,1968,58588800,8,295641,9600,12,6,174,28,...,0,0,1,0,0,0,0,0,0,NaN
23,BUTCH CASSIDY AND THE SUNDANCE KID,1969,102308889,8,111087,6600,18,12,51,508,...,0,0,0,0,0,0,0,0,0,NaN
24,THE GODFATHER,1972,134966411,9,821410,10500,29,19,148,1307,...,0,0,0,0,0,0,0,0,0,NaN
25,THE STING,1973,156000000,8,127640,7740,10,6,67,275,...,0,0,0,0,0,0,0,0,0,NaN
26,CHINATOWN,1974,29200000,8,159935,7800,20,22,73,547,...,0,0,0,0,0,0,1,0,0,NaN
27,THE GODFATHER: PART II,1974,47542841,9,541351,12000,11,16,73,197,...,0,0,0,0,0,0,0,0,0,NaN
28,DOG DAY AFTERNOON,1975,50000000,8,137696,7500,13,17,35,438,...,0,0,0,0,0,0,0,0,0,NaN
29,JAWS,1975,260000000,8,290528,7440,9,14,95,1497,...,0,0,0,0,0,0,1,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3720,UNITED 93,2006,31483450,8,73621,6660,30,23,19,602,...,0,0,0,0,0,0,0,0,0,NaN
3721,NORBIT,2007,95673607,4,43105,6120,5,7,70,284,...,0,1,0,0,0,0,0,0,0,NaN
3722,ROCKET SCIENCE,2007,714943,7,10572,6060,2,7,38,142,...,0,0,0,0,0,0,0,0,0,NaN
3723,UNSTOPPABLE,2010,81562942,7,117662,5880,1,12,56,1357,...,0,0,0,0,0,0,1,0,0,NaN
3724,THE U.S. VS. JOHN LENNON,2006,1109146,7,4354,5940,0,0,8,9,...,0,0,0,0,0,0,0,0,0,NaN
3725,ZIZEK!,2005,20177,7,947,4260,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
3726,NANCY DREW,2007,25612520,6,13301,5940,0,0,41,278,...,0,0,0,0,0,0,0,0,0,NaN
3727,ONE MISSED CALL,2008,26890041,4,23199,5220,0,0,24,184,...,0,0,0,0,0,0,0,0,0,NaN
3728,SEASON OF THE WITCH,2011,24827228,5,63281,5700,0,0,70,1122,...,0,0,0,0,0,0,0,0,0,NaN
3729,PYAAR KE SIDE EFFECTS,2006,30230,7,2100,7920,0,0,0,0,...,0,1,0,0,0,0,0,0,0,NaN
3730,THE NUMBER 23,2007,35193167,6,138593,6060,0,0,38,197,...,0,0,0,0,0,0,1,0,0,NaN
3731,SPACE CHIMPS,2008,30105968,5,7654,4860,0,0,27,212,...,0,0,0,0,0,0,0,0,0,NaN
3732,DOOMSDAY,2008,11008770,6,56085,6480,0,0,59,450,...,0,0,1,0,0,0,1,0,0,NaN
3733,THE SEEKER: THE DARK IS RISING,2007,8794452,5,11807,5940,0,0,19,83,...,0,0,0,0,0,0,0,0,0,NaN
3734,AMERICANIZING SHELLEY,2007,128024,5,558,5400,0,0,14,4,...,0,1,0,0,0,0,0,0,0,NaN
3735,JESUS CAMP,2006,902544,8,17063,5040,3,4,9,177,...,0,0,0,0,0,0,0,0,0,NaN
3736,BEERFEST,2006,19185184,6,47641,6600,0,0,49,166,...,0,0,0,0,0,0,0,0,0,NaN
3737,WHO KILLED THE ELECTRIC CAR?,2006,1678874,8,10458,5520,0,0,66,0,...,0,0,0,0,0,0,0,0,0,NaN
3738,FANBOYS,2009,688529,7,44253,5400,0,0,60,487,...,0,0,0,0,0,0,0,0,0,NaN
3739,SAW III,2006,80238724,6,113423,6480,0,0,27,287,...,0,0,0,0,0,0,1,0,0,NaN
3740,REIGN OVER ME,2007,19661987,8,75813,7440,0,0,59,115,...,0,0,0,0,0,0,0,0,0,NaN
3741,SOMETHING BORROWED,2011,39046489,6,39017,6720,0,0,48,843,...,0,1,0,0,0,0,0,0,0,NaN
3742,THE HAUNTING IN CONNECTICUT,2009,55389516,6,40433,5520,1,2,12,596,...,0,0,0,0,0,0,1,0,0,NaN
3743,THE GAME PLAN,2007,90648202,6,34283,6600,0,0,74,268,...,0,0,0,0,1,0,0,0,0,NaN
3744,JACKASS NUMBER TWO,2006,72778712,7,48137,5520,0,0,30,93,...,0,0,0,0,0,0,0,0,0,NaN
3745,AN INCONVENIENT TRUTH,2006,24146161,8,56014,6000,27,6,62,756,...,0,0,0,0,0,0,0,0,0,NaN
3746,ADRIFT IN MANHATTAN,2007,2099,5,1328,5460,3,1,7,7,...,0,0,0,0,0,0,0,0,0,NaN
3747,HOSTEL: PART II,2007,17609452,5,57934,5640,0,0,46,232,...,0,0,0,0,0,0,0,0,0,NaN
3748,KALYUG,2005,1435,7,1250,7560,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
3749,SLIPSTREAM,2007,8965,5,3913,5760,1,3,41,13,...,0,0,0,0,0,0,0,0,0,NaN

The movie with the highest ratingCount can be found by using :

In [5]:
mostrating = movies['ratingCount'].max()
mostrating

1183395

To import a matlab file, the following function can be used: ............

_________________________

<div class="alert alert-info" role="alert" style="height:10px;padding:0px;margin-bottom:-20px"></div>

## 5. Statistics

<div class="alert alert-info" role="alert" style="height:10px;padding:0px;margin-top:5px;"></div>

Statistics are also very important when working with datasets. In this section various functions will be discussed and used to find out some more about the dataset. 

On your cheat sheet you can find several functions in the section statistics. For example:
`df.count()`: returns the number of values.

In the next cell, try it out for the number of nominations.

In [10]:
## TRY OUT: find the number of nominations

ALso the function `df.describe()` can be very useful to get an overview of your data. Try it out below. The argument `include='all'` can be used for the summary statistics of all columns.

In [14]:
## TRY OUT: get an overview of your data.

____________________________

<div class="alert alert-info" role="alert" style="height:10px;padding:0px;margin-bottom:-20px"></div>

## 6. Sorting and grouping a DataFrame

<div class="alert alert-info" role="alert" style="height:10px;padding:0px;margin-top:5px;"></div>

When using data, it can be very useful to sort the data according to a certain value. Sorting the DataFrame can be done by: `df.sort_values(by = column)`. Additionally, the argument `ascending=False` can be added, to sort the values in descending order. The index of the dataframe can also be reset, by using the argument `.reset_index()`.

In the next cell, try it out for the number of news articles.

In [10]:
## TRY OUT: sort the dataframe by number of news articles

The rows in a DataFrame can also be grouped. This can be done by using `df.groupby()`. Try it out below for genre.

In [11]:
## TRY OUT: group the data by genre.

___________________________

<div class="alert alert-info" role="alert" style="height:10px;padding:0px;margin-bottom:-20px"></div>

## 7. Adding a column by calculation

<div class="alert alert-info" role="alert" style="height:10px;padding:0px;margin-top:5px;"></div>

New values can also be calculated from the dataframe. This can be done by naming the new colum, followed by the calculation. An example can be seen below.

In [12]:
movies['NoWinNominations'] = movies['nrOfWins']-movies['nrOfNominations']
movies

,title,year,lifetime_gross,ratingInteger,ratingCount,duration,nrOfWins,nrOfNominations,nrOfPhotos,nrOfNewsArticles,...,Romance,SciFi,Short,Sport,TalkShow,Thriller,War,Western,Unnamed: 37,NoWinNominations
0,METROPOLIS,1928,1236166,8,81007,9180,3,4,67,428,...,0,1,0,0,0,0,0,0,NaN,-1
1,CITY LIGHTS,1931,19181,9,70057,5220,2,0,38,187,...,1,0,0,0,0,0,0,0,NaN,2
2,MODERN TIMES,1936,163577,9,90847,5220,3,1,44,27,...,0,0,0,0,0,0,0,0,NaN,2
3,GONE WITH THE WIND,1939,198676459,8,160414,14280,10,6,143,1263,...,1,0,0,0,0,0,1,0,NaN,4
4,THE WIZARD OF OZ,1939,22342633,8,209506,6120,6,12,126,2363,...,0,0,0,0,0,0,0,0,NaN,-6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3745,AN INCONVENIENT TRUTH,2006,24146161,8,56014,6000,27,6,62,756,...,0,0,0,0,0,0,0,0,NaN,21
3746,ADRIFT IN MANHATTAN,2007,2099,5,1328,5460,3,1,7,7,...,0,0,0,0,0,0,0,0,NaN,2
3747,HOSTEL: PART II,2007,17609452,5,57934,5640,0,0,46,232,...,0,0,0,0,0,0,0,0,NaN,0
3748,KALYUG,2005,1435,7,1250,7560,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,0
3749,SLIPSTREAM,2007,8965,5,3913,5760,1,3,41,13,...,0,0,0,0,0,0,0,0,NaN,-2

________________

<div class="alert alert-info" role="alert" style="height:10px;padding:0px;margin-bottom:-20px"></div>

## 8. Delete data for optimization 

<div class="alert alert-info" role="alert" style="height:10px;padding:0px;margin-top:5px;"></div>

When a dataframe is very big, there are often a lot of values that are unnessecary in your research. To this extent, these values can be deleted. This can be done by the function `df.drop()`. It can be done for one row, several rows, one column and several columns. 

In the cell below, try it out for the number of photos by creating a new DataFrame.

In [13]:
## TRY OUT: drop the column of number of photos by creating a new DataFrame.

_________________

<div class="alert alert-info" role="alert" style="height:10px;padding:0px;margin-bottom:-20px"></div>

## 9. Working with NaN values

<div class="alert alert-info" role="alert" style="height:10px;padding:0px;margin-top:5px;"></div>

There are often values which are 'NaN'. This means that this value is missing. There are several options in this case. You can give these a values, for example 0 or 1. Or these values can be dropped.

To drop these values: `df.dropna()`. When the argument `how='any'` is used, the row is dropped when any value is missing. When the argument `how='all'` is used, the row is dropped when all values are misisng. Try it out below

In [14]:
## TRY OUT: make a new DataFrame where there are no NaN values.

To replace the missing values the function, the function `df.fillna()` can be used. Try this out for the title below by creating a new DataDrame.

In [15]:
## TRY OUT: make a new DataFrame with NaN values changed for title.

________________________

<div class="alert alert-info" role="alert" style="height:10px;padding:0px;margin-bottom:-20px"></div>

## 10. Plotting DataFrame

<div class="alert alert-info" role="alert" style="height:10px;padding:0px;margin-top:5px;"></div>

Plotting can give useful insight on your Dataframe. Here we will learn you the basics of plotting. 
First of all, matplotlib and Seaborn need to be imported. This has already been set for you in the cell below. Also, to make plots appear in your notebook, a line is added.

In [16]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

The general function for plotting is: `df.plot(kind='...',...)`.
Different kinds can be used, such as:
* line: also the default setting.
* area: area is filled under the line.
* bar: vertical barchart.
* barh: horizontal barchart.
* hist: histogram. With argument `bins=n`, the number of bins can be adjusted.
* box: boxplot. With argument `by=...`, it will be grouped by given columns.
* density: densityplot.
* scatter: scatterplot. 

When you don't remember which plots are available with which arguments, you can always get help with putting `?` after your command. ----> dit werkt niet even naar kijken.

Below you can run the help command.

In [17]:
df.plot?

Object `df.plot` not found.

Next, make some plots for yourself.

In [18]:
## TRY OUT: make several plots of the movies DataFrame.