# Pandas tutorial
## The basics
In this tutorial you will learn the basics about using Pandas in Python.

First you need to import pandas this can be done by running the following line of code;

In [1]:
import pandas as pd

# Creating data

There are two core objects in pandas: the DataFrame and the Series

### DataFrame

A DataFrame is a table just like the one you probably know from excel. It contains rows and columns for example this is a small DataFrame:

In [ ]:
pd.DataFrame({'Yes':[50,21], 'No':[131,20]})

You can see that the rows have the values 0 and 1 these indexes can be changed if you prefer it to other numbers or even to strings. 
The code you need for this is located in the cell below test it and see what happens

In [ ]:
pd.DataFrame({'Yes':[50,21], 'No':[131,20]},index = ['Product A','Product B'])

### Series

panda also has something that is called series. A Series is a sequence of data values. A Series is like a list if a DataFrame is a table. To create one you just need some data values;

In [ ]:
pd.Series([5,6,7,8])

## Reading data files

creating a DataFrame or Series is nice to do but the power of Pandas comes from the reading data that is already available for a csv file this can simply be done by using the read_csv() command from Pandas. 

In biomedical engineering sometimes the dataset we want to read is stored in a matlab file with the .mat extention

In [21]:
movies=pd.read_csv("Movies.csv")
movies.head()

,title,year,lifetime_gross,ratingInteger,ratingCount,duration,nrOfWins,nrOfNominations,nrOfPhotos,nrOfNewsArticles,...,RealityTV,Romance,SciFi,Short,Sport,TalkShow,Thriller,War,Western,Unnamed: 37
0,METROPOLIS,1928,1236166,8,81007,9180,3,4,67,428,...,0,0,1,0,0,0,0,0,0,NaN
1,CITY LIGHTS,1931,19181,9,70057,5220,2,0,38,187,...,0,1,0,0,0,0,0,0,0,NaN
2,MODERN TIMES,1936,163577,9,90847,5220,3,1,44,27,...,0,0,0,0,0,0,0,0,0,NaN
3,GONE WITH THE WIND,1939,198676459,8,160414,14280,10,6,143,1263,...,0,1,0,0,0,0,0,1,0,NaN
4,THE WIZARD OF OZ,1939,22342633,8,209506,6120,6,12,126,2363,...,0,0,0,0,0,0,0,0,0,NaN