# Pandas tutorial
## The basics
In this tutorial you will learn the basics about using Pandas in Python.

First you need to import pandas this can be done by running the following line of code;

In [3]:
import pandas as pd

# Creating data

There are two core objects in pandas: the DataFrame and the Series

### DataFrame

A DataFrame is a table just like the one you probably know from excel. It contains rows and columns for example this is a small DataFrame:

In [8]:
pd.DataFrame({'Yes':[50,21], 'No':[131,20]})

   Yes   No
0   50  131
1   21   20

You can see that the rows have the values 0 and 1 these indexes can be changed if you prefer it to other numbers or even to strings. 
The code you need for this is located in the cell below test it and see what happens

In [9]:
pd.DataFrame({'Yes':[50,21], 'No':[131,20]},index = ['Product A','Product B'])

           Yes   No
Product A   50  131
Product B   21   20